@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../assets/webrtc/fonts/Roboto/roboto-light.eot');
  src: url('../../assets/webrtc/fonts/Roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
  url('../../assets/webrtc/fonts/Roboto/roboto-light.woff2') format('woff2'),
  url('../../assets/webrtc/fonts/Roboto/roboto-light.woff') format('woff'),
  url('../../assets/webrtc/fonts/Roboto/roboto-light.ttf') format('truetype'),
  url('../../assets/webrtc/fonts/Roboto/roboto-light.svg#robotolight') format('svg');
}

:root {
  --primary: #6096B4;
  --primary-light: #93BFCF;
  --secondery: #BDCDD6;
  --secondery-light: #f0f5f9;
  --secondery-dark: #a3b6c1;
  --danger: #EB6440;
  --success: #8fb774;
  --white: #fff;
  --gray: #ccc;
  --blue-gray: #c4cbcf;
  --blue-gray-light: #ecf3f7;
  --text: #333;
  --text-light: #727272;
  --purple: #C780FA;
  --purple-dark: #5b0699;
  --purple-darker: #25025c;
  --purple-light: #a891cd;
  --purple-lighter: #eaceff;

  --theme-blue: #6096b4;
  --theme-blue-dark: #597e93;
  --theme-blue-lighter: #9bc0d7;
  --theme-gray-dark: #8598a3;
  --theme-gray-darker: #6b7981;
  --theme-gray-light: #dbdfe1;
  --theme-gray-lighter: #ebedee;


  --red: #de7354;
  --red-dark: #ba3918;
  --red-light: #e5907a;
  --red-lighter: #ffc0af;
  --red-text: #f5dad2;
  --blue: #bcf0ff;
  --blue-dark: #0a7598;
  --blue-light: #9ce2ff;
  --blue-lighter: #d7f4ff;
  --teal: #53BF9D;
  --teal-dark: #116D6E;
  --teal-light: #ADE4DB;
  --teal-lighter: #DFFFD8;
  --sage: #7AA874;
}


* {
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--secondery-light);
  font-family: 'Roboto';
  color: var(--primary);
}

a {
  color: var(--primary);

  &:hover {
    color: var(--primary-light);
  }
}

label {
  display: inline-block;
  width: 120px;
  text-align: left;
}

select,
input[type=text],
input[type=datetime-local]
{
  padding: 5px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  min-width: 200px;

  &:focus {
    outline: none;
    border: 1px solid var(--primary-light);
  }
}

.btn,
button,
input[type=submit] {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 45px;
  background: var(--theme-blue);

  &:hover {
    background: var(--theme-blue-dark);

    .tooltip {
      visibility: visible;
    }
  }

  &.disabled,
  &:disabled {
    background: var(--theme-blue-lighter);
  }

  &.btn-small {
    font-size: .9em;
    border-radius: 45px;
    padding: 2px 15px;
  }

  &.btn-action {
    padding: 10px 15px;
    margin: 0 4px;
  }

  .tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    font-size: 12px;
    background-color: #192733;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;

    &.top {
      top: -40px;
      left: -50%;
    }

    &.bottom {
      top: 25px;
      left: -50%;
    }

    &.left {
      top: -8px;
      right: 120%;
    }

    &.right {
      top: -8px;
      left: 120%;
    }
  }
}

.btn-danger {
  color: var(--red-text);
  border: 2px dashed var(--red-dark);
  background: var(--red);

  &:hover {
    color: var(--white);
    border: 2px dashed var(--red);
    background: var(--red-dark);
  }

  &.disabled,
  &:disabled {
    color: var(--red-light);
    border: 2px dashed var(--red-light);
    background: var(--red-lighter);
  }
}

.btn-info {
  color: var(--primary);
  border: 2px dashed var(--primary);
  background: var(--blue);

  &:hover {
    border: 2px dashed var(--blue);
    color: var(--blue);
    background: var(--blue-dark);
  }

  &.disabled,
  &:disabled {
    color: var(--blue-light);
    border: 2px dashed var(--blue-light);
    background: var(--blue-lighter);
  }
}

.deck-btn {
  .btn {
    border: 0;

    &.btn-action {
      padding: 8px 12px;
    }
  }

  .btn-danger {
    background: #ea4335;
  }
  .btn-default {
    color: #464546;
    background: #cccccc;

    &:hover {
      color: #161616;
    }

    &.disabled,
    &:disabled {
      color: #cccccc;
      background: #3c4043;
    }
  }
}

table {
  border-collapse: separate!important;
  border-spacing: 1px;

  thead {
    tr {
      color: var(--white);
      background-color: var(--theme-gray-dark)!important;

      th {
        text-align: center;
        border: 0!important;
        padding: 5px!important;
        box-shadow: 0 0 0 1px var(--teal-dark);

        &:first-child {
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &:last-child {
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  tbody {
    font-size: 0.9em;

    tr {
      &:nth-child(odd) {
        background-color: var(--theme-gray-light)!important;
      }

      &:nth-child(even) {
        background-color: var(--theme-gray-lighter)!important;
      }

      &:hover {
        background-color: var(--theme-gray-darker)!important;

        td, a {
          color: #fff;
        }
      }

      &:first-child {
        td {
          &:first-child {
            border-top-left-radius: 10px;
          }

          &:last-child {
            border-top-right-radius: 10px;
          }
        }
      }

      &:last-child {
        td {
          &:first-child {
            border-bottom-left-radius: 10px;
          }

          &:last-child {
            border-bottom-right-radius: 10px;
          }
        }
      }

      td {
        color: var(--text);
        padding: 5px!important;
        border: 0!important;
        box-shadow: 0 0 0 1px var(--teal-dark);

        &:hover {
          color: #fff;
        }

        a {
          color: var(--text);

          &:hover {
            color: #fff;
          }
        }

      }
    }
  }
}

.mx {
  &-2 {
    margin: 0 4px;
  }
}
.my {
  &-2 {
    margin: 4px 0;
  }
}

.d-flex {
  display: flex;
}

.error {
  color: var(--danger);
}

.success {
  color: var(--success);
}

.text-center {
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

#webrtc {
  padding: 2rem;

  @media screen and (max-width:480px) {
    padding: 1rem;
  }

  h2 {
    margin: 15px 0;
  }
}

#video-meeting {
  .room-item {
    position: relative;
    overflow: hidden;

    .microphone-mute {
      position: absolute;
      z-index: 3;
      color: #fff;
      top: 25px;
      right: 25px;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    .microphone-unmute {
      position: absolute;
      z-index: 3;
      color: #fff;
      cursor: pointer;
      bottom: 25px;
      right: 25px;
    }

    .user-video {
      overflow: hidden;
      border-radius: 8px;

      .camera-mute {
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        background: #333;
      }
    }
  }
}
